<div class="column is-5">
  <div class="list">
    <ul>
      <div class="list-item">
        <li>Nombre: {{ persona.nombre }}</li>
      </div>
      <div class="list-item">
        <li>Raza: {{ persona.raza }}</li>
      </div>
      <div class="list-item">
        <li>Clan: {{ persona.clan }}</li>
      </div>
      <div class="list-item">
        <li>Descripción: {{ persona.descripcion }}</li>
      </div>
      <div class="list-item">
        <li>Edad de Nacimiento: {{ persona.edad_nacimiento }}</li>
      </div>
      <div class="list-item">
        <li>Edad de Muerte: {{ persona.edad_muerte }}</li>
      </div>
    </ul>
  </div>
</div>
